@font-face {
    font-family: gojek;
    src: url(../font/Maison\ Neue\ Extended\ Extra\ Bold.woff);
}

@font-face {
    font-family: samsung400;
    src: url(../font/SamsungOne-400.woff);
}

@font-face {
    font-family: samsung700;
    src: url(../font/SamsungOne-700.woff);
}

@font-face {
    font-family: once;
    src: url(../font/once.otf);
}



* {
    padding: 0;
    font-family: once !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

body {
    /* background-image: linear-gradient(#15253f, #2c3d5b); */
    background-color: #15253f;
    /* height: 100vh;
    width: 100vw; */
    /* margin: 0 15px 0 15px !important; */
    color: white;
}

a {
    color: #E5C3A6;
}

.navbar-brand img {
    width: 5vw;
}

.nav-link {
    margin: 0 5px 0 5px;
    font-size: 16pt;
}

.nav-link:hover {
    color: #4B527E !important;
}
.color-white {
    color: white;
}

#home-header {
    width: 50vw;
    display: inline-block;
}

#home-header-logo {
    width: 8vw;
    vertical-align:middle;
}

#home-header-logo-container {
    padding: 0;
}

.home-header-list {
    padding-left: 1vw;
    padding-right: 1vw;
    color: #E5C3A6;
    text-decoration: none;
    font-size: 1vw;
}

#home-header-logo {
    background-color: #E5C3A6;
    color: #15253f;
}

#home-menu-container {
    display: flex;
    margin-top: 0pt;
    /* margin-bottom: 20pt; */
    vertical-align: middle;
}

#home-menu-text {
    /* margin-top: 50pt; */
    width: 50%;
}

.home-menu-item {
    margin-top: 20pt;
    /* margin-bottom: 20pt; */
}


#home-menu-text-motto {
    font-size: 1vw;
    background-color: #E5C3A6;
    border-radius: 20px;
    color: #15253f;
    width: 70%;
    padding: 5pt;
    text-align: center;
}

h1.home-menu-item {
    font-size: 2.5vw;
}

p.home-menu-item {
    font-size: 0.75vw;
}

#home-img {
    height: 200px;;
}

#home-register {
    text-decoration: none;
    /* margin-bottom: 5vh; */
}

#home-register-text {
    background-color: #E5C3A6;
    border-radius: 20px;
    text-decoration: none;
    color: #15253f;
    width: 70%;
    padding: 10pt;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}

#home-img {
    /* margin-top: 70pt; */
    height: 200px;
}

#app-header {
    width: 50vw;
    display: inline-block;
}

#app-header-logo {
    width: 8vw;
    vertical-align:middle;
}

#app-header-logo-container {
    padding: 0;
}

.app-header-list {
    padding-left: 1vw;
    padding-right: 1vw;
    color: #E5C3A6;
    text-decoration: none;
    font-size: 1vw;
}

#app-header-logo {
    background-color: #E5C3A6;
    color: #15253f;
}

.active {
    /* color: #2c3d5b !important;
    text-decoration: none !important;
    background-color: #E5C3A6 !important;
    margin-top: 5pt;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; */
    color: #4B527E !important;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.value {
    color: #E5C3A6 !important;
}

.navbar {
    margin-bottom: 2vh !important;
}

.dropdown-item {
    color:#15253f !important;
}

.history-table td,
.history-table th {
    padding-left: 1vw;
    padding-right: 1vw;
}

.history-table tr,
.history-table th,
.history-table td {
    border: 1pt solid #E5C3A6;
}

#report-text {
    width: 30% !important;
}