@font-face {
    font-family: gojek;
    src: url(../font/Maison\ Neue\ Extended\ Extra\ Bold.woff);
}

@font-face {
    font-family: samsung400;
    src: url(../font/SamsungOne-400.woff);
}

@font-face {
    font-family: samsung700;
    src: url(../font/SamsungOne-700.woff);
}

@font-face {
    font-family: once;
    src: url(../font/once.otf);
}

@font-face {
    font-family: playpen;
    src: url(../font/PlaypenSans.ttf);
}

:root {
    --transition-duration: 1s;
    --detail-container-width: 70%;
    --detail-container-height: 80vh;
    --item-ms-me: 1%;
    --item-mt-mb: 1%;
    --item-per-line: 3;
    --chart-height: 39vh;
    --chart-width: calc(96%/3);
    --navbar-height: 7vh;
    --navbar-margin-bottom: 2vh;
    --page-margin-bottom: calc(var(--navbar-margin-bottom) - 1vh);
    --page-height: calc(100vh - var(--navbar-height) - var(--page-margin-bottom));
}

* {
    padding: 0;
    font-family: playpen !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

body {
    /* background-image: linear-gradient(#15253f, #2c3d5b); */
    background-image: url(../img/logo.png);
    background-color: #15253f;
    background-position:top left;
    /* height: 100vh;
    width: 100vw; */
    /* margin: 0 15px 0 15px !important; */
    color: white;
    height: 100%;
}

a {
    color: #E5C3A6;
}

a:hover {
    transition-duration: var(--transition-duration);
}
.navbar-brand img {
    width: 5vw;
}

.nav-link {
    margin: 0 5px 0 5px;
    font-size: 16pt;
}

.nav-link:hover {
    color: #4B527E !important;
    transition-duration: var(--transition-duration);
}
.color-white {
    color: white;
}

#home-header {
    width: 50vw;
    display: inline-block;
}

#home-header-logo {
    width: 8vw;
    vertical-align:middle;
}

#home-header-logo-container {
    padding: 0;
}

.home-header-list {
    padding-left: 1vw;
    padding-right: 1vw;
    color: #E5C3A6;
    text-decoration: none;
    font-size: 1vw;
}

#home-header-logo {
    background-color: #E5C3A6;
    color: #15253f;
}

#home-container {
    width: 70%;
    border-width: 3pt !important;
    border-color:#E5C3A6 !important;
}

#home-menu-container {
    display: flex;
    margin-top: 0pt;
    width: 100%;
    /* border: 1pt solid white; */
    /* margin-bottom: 20pt; */
    /* vertical-align: middle; */
}

.home {
    background-image: url(../img/logo.png);
    background-color: #15253f;
    background-position:top left;
    /* background-repeat: no-repeat; */
}

.home-menu-item {
    margin-top: 20pt;
    /* margin-bottom: 20pt; */
}


#home-menu-text-motto {
    font-size: 1vw;
    background-color: #E5C3A6;
    border-radius: 20px;
    color: #15253f;
    padding: 5pt;
    text-align: center;
}

h1.home-menu-item {
    font-size: 2.5vw;
}

p.home-menu-item {
    font-size: 0.75vw;
}

#home-img {
    height: 200px;;
}

.home-menu {
    text-decoration: none;
    /* margin-bottom: 5vh; */
}

#home-register-text {
    background-color: #E5C3A6;
    border-radius: 20px;
    text-decoration: none;
    color: #15253f;
    width: 70%;
    padding: 10pt;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}

#home-register-text:hover {
    border: 1pt solid #E5C3A6;
    background-color: #15253f;
    border-radius: 20px;
    text-decoration: none;
    color: #E5C3A6;
    width: 70%;
    padding: 10pt;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    transition-duration: var(--transition-duration);
}

#home-login-text {
    border: 1pt solid #E5C3A6;
    background-color: #15253f;
    border-radius: 20px;
    text-decoration: none;
    color: #E5C3A6;
    width: 70%;
    padding: 10pt;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}

#home-login-text:hover {
    background-color: #E5C3A6;
    border-radius: 20px;
    text-decoration: none;
    color: #15253f;
    width: 70%;
    padding: 10pt;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    transition-duration: var(--transition-duration);
}

#home-img {
    /* margin-top: 70pt; */
    height: 200px;
}

#app-header {
    width: 50vw;
    display: inline-block;
}

#app-header-logo {
    width: 8vw;
    vertical-align:middle;
}

#app-header-logo-container {
    padding: 0;
}

.app-header-list {
    padding-left: 1vw;
    padding-right: 1vw;
    color: #E5C3A6;
    text-decoration: none;
    font-size: 1vw;
}

#app-header-logo {
    background-color: #E5C3A6;
    color: #15253f;
}

.active {
    /* color: #2c3d5b !important;
    text-decoration: none !important;
    background-color: #E5C3A6 !important;
    margin-top: 5pt;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; */
    color: #4B527E !important;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.value {
    color: #E5C3A6 !important;
    font-size: 1.5em !important;
}

.kept-score {
    color: #E5C3A6 !important;
    font-size: 4em !important;
}

.navbar {
    margin-bottom: calc(var(--navbar-margin-bottom) - 1vh) !important;
    height: var(--navbar-height) !important;
    border-bottom: 1pt solid #E5C3A6;
}

.dropdown-item {
    color:#15253f !important;
}

.history-table td,
.history-table th {
    padding-left: 1vw;
    padding-right: 1vw;
}

.history-table tr,
.history-table th,
.history-table td {
    border: 1pt solid #E5C3A6;
}

#report-text {
    width: 30% !important;
}

.detail-container {
    display: flex;
    width: 70%;
    height: 80vh;
    overflow: hidden;
    /* border: #ffffff 1pt solid; */
    flex-wrap: wrap !important;
}

.item {
    margin-left: var(--item-ms-me);
    margin-right: var(--item-ms-me);
    margin-top: var(--item-mt-mb);
    margin-bottom: var(--item-mt-mb);
    width: calc((96% - (var(--item-ms-me) * var(--item-per-line))) / var(--item-per-line));
    overflow: hidden;
    border: 1pt solid #E5C3A6;
    padding: 10px;
}

.chart {
    height: var(--chart-height);
    width: var(--chart-width);
    overflow: hidden;
}

.page {
    height: var(--page-height);
    padding: 0;
    /* border-bottom:#E5C3A6 1pt solid; */
    margin-bottom: calc(var(--navbar-margin-bottom)- 1vh);
}


#page-container {
    height: (var(--page-height) * 4);
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #E5C3A6 !important;  /* old IE */
    background-color: #E5C3A6 !important;  /* Modern Browsers */
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    color:#15253f;
}